[Unit]
Description=Snapcast client daemon
After=pipewire.service
Wants=pipewire.service pipewire-pulse.service

StartLimitIntervalSec=10
StartLimitBurst=5

[Service]
ExecStart=/usr/bin/snapclient --player=pulse
Restart=on-failure
RestartSec=10


[Install]
WantedBy=default.target
