[Unit]
Description=Link screenshot folders for games into a central location

[Service]
Type=oneshot
ExecStart=/usr/bin/pwsh -NonInteractive /home/lily/Pictures/GameScreenshots/link-steam-screenshot-dirs.ps1

[Install]
WantedBy=default.target
