[Unit]
Description=Snapcast client daemon
After=pipewire-pulse.service

[Service]
ExecStart=/usr/bin/snapclient --player=pulse
[Install]
WantedBy=default.target
