layout {

    focus-ring {
        active-color   "#70dba8"
        inactive-color "#091518"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#70dba8"
        inactive-color "#091518"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#70dba8"
        inactive-color "#005236"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#70dba880"
    }
}
