// -*- mode: jsonc -*-
[
  {
    "name": "main",
    {{- if eq .chezmoi.hostname "rumbi" }}
    "output": "eDP-1",
    {{ else if eq .chezmoi.hostname "snatcher" }}
    "output": "DP-2",
    {{ end -}}
    "height": 30, // Waybar height (to be removed for auto height)
    "spacing": 4, // Gaps between modules (4px)
    "include": [
      "~/.config/waybar/defaults.jsonc",
    ],
    {{- if eq .chezmoi.hostname "snatcher" }}
    "modules-left": [
      "river/tags",
      "river/mode",
      "custom/weather"
    ],
    "modules-center": [
      "river/window"
    ],
    "modules-right": [
      "mpd",
      "wireplumber",
      "clock",
      "custom/notification",
      "tray"
    ]
    {{ else if eq .chezmoi.hostname "rumbi" }}
    "modules-left": [
      "river/tags",
      "river/mode",
      "custom/weather"
    ],
    "modules-right": [
      "pulseaudio",
      "bluetooth",
      "network",
      "cpu",
      "battery",
      "clock",
//      "custom/notification",
      "tray"
    ]
    {{ end -}}
  }
]
